






<div class="main px-lg-4 px-md-4">
    <div class="body d-flex py-3">
        <div class="container-xxl">

            <div class="row g-3 mb-3">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-3 align-items-center">
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="d-flex">
                                        <img class="avatar rounded-circle" src="~/assets/images/profile_av.svg" alt="profile">
                                        <div class="flex-fill ms-3">
                                            <p class="mb-0"><span class="font-weight-bold">@ViewBag.Firstname	@ViewBag.Lastname</span></p>
                                            <small class="">@ViewBag.Email</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-3">
                                    <div class="d-flex flex-column">
                                        <span class="text-muted mb-1">User ID:@ViewBag.Id</span>
                                        <span class="small text-muted flex-fill text-truncate">Last login time @ViewBag.Time</span>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <a href="/dashboard/deposit" title="invite" class="btn btn-primary text-dark mb-1">Minimanl Deposit is 250$</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Row End -->

            <div class="row g-3 mb-3 row-cols-1 row-cols-md-2 row-cols-lg-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="flex-fill text-truncate">
                                <span class="text-muted small text-uppercase">Total Ballance</span>
                                <div class="d-flex flex-column">
                                    <div class="price-block">
                                        <span class="fs-6 fw-bold color-price-up" id="equity-calc"></span>
                                        <span class="small text-muted px-2"></span>
                                    </div>
                                    @*<div class="price-report">
                                        <span class="small text-danger">- 1.28% <i class="fa fa-level-down"></i></span>
                                        <span class="small text-muted px-2">Volume:109,267,865.92 BUSD</span>

                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div id="apexspark1"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="flex-fill text-truncate">
                                <span class="text-muted small text-uppercase">Cash Avialable</span>
                                <div class="d-flex flex-column">
                                    <div class="price-block">
                                        <span class="fs-6 fw-bold color-price-down" id="ballanceajax"></span>
                                        @*<span class="small text-muted px-2">$3500</span>*@
                                    </div>
                                    @*<div class="price-report">
                                        <span class="small text-danger">- 1.79% <i class="fa fa-level-down"></i></span>
                                        <span class="small text-muted px-2">Volume:541,545,011.76 USDT</span>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div id="apexspark2"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="flex-fill text-truncate">
                                <span class="text-muted small text-uppercase">Money In Asset</span>
                                <div class="d-flex flex-column">
                                    <div class="price-block">
                                        <span class="fs-6 fw-bold" id="money-instock"></span>
                                        @*<span class="small text-muted px-2">$35</span>*@
                                    </div>
                                    @*<div class="price-report">
                                        <span class="small text-success">+ 3.78% <i class="fa fa-level-up"></i></span>
                                        <span class="small text-muted px-2">Volume:63,324,607.43 BUSD BUSD</span>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div id="apexspark3"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body d-flex align-items-center">
                            <div class="flex-fill text-truncate">
                                <span class="text-muted small text-uppercase">P/L</span>
                                <div class="d-flex flex-column">
                                    <div class="price-block">
                                        <span class="fs-6 fw-bold color-price-up" id="total-proft"></span>
                                        @*<span class="small text-muted px-2">$1</span>*@
                                    </div>
                                    @*<div class="price-report">
                                        <span class="small text-danger">- 1.11% <i class="fa fa-level-down"></i></span>
                                        <span class="small text-muted px-2">Volume:28,538,521.44 USDT</span>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div id="apexspark4"></div>
                    </div>
                </div>
            </div><!-- Row End -->

            <div class="row g-3 mb-3 row-deck">
                <div class="col-xl-12 col-xxl-6">
                    <div class="card">
                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom align-items-center flex-wrap">
                            <h6 class="mb-0 fw-bold">Shares Details</h6>

                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="Spot">


                                    <div class="col-lg-6">
                                        <canvas id="apex-simple-donut" style="height:381px !important"></canvas>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-xxl-6">
                    <div class="card">
                        <div class="card-header py-3 d-flex justify-content-between bg-transparent align-items-center">
                            <h6 class="mb-0 fw-bold">All Asset</h6>

                        </div>
                        <div class="card-body">
                            <table class="table" id="mystock">
                                <thead>
                                    <tr>
                                        <th>Asset Name</th>
                                        <th>Symbol</th>
                                        <th>Volume</th>
                                        <th style="color:green">Live Price</th>
                                        <th>P/L</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- Row End -->

            <style>
                #mystock tbody {
                    display: block;
                    max-height: 300px; /* Adjust the height as needed */
                    overflow-y: auto;
                }

                    #mystock thead, #mystock tbody tr {
                        display: table;
                        width: 100%;
                        table-layout: fixed; /* Optional, for equal column width */
                    }

                #mystock {
                    width: 100%;
                }
            </style>


            @*<div class="row g-3 mb-3 row-deck">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="mb-0 fw-bold">Recent Transactions</h6>
                    </div>
                    <div class="card-body">
                        <table id="ordertabthree" class="priceTable table table-hover custom-table-2 table-bordered align-middle mb-0" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Pair</th>
                                    <th>Side</th>
                                    <th>Price</th>
                                    <th>Executed</th>
                                    <th>Fee</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>09-18 17:32:15</td>
                                    <td><img src="~/assets/images/coin/ETH.png" alt="" class="img-fluid avatar mx-1">ETH/USDT</td>
                                    <td><span class="color-price-down">Sell</span></td>
                                    <td>3,487.50</td>
                                    <td>0.0110</td>
                                    <td>0.03836250 USDT</td>
                                    <td>38.36250000 USDT</td>
                                </tr>
                                <tr>
                                    <td>09-18 17:31:11</td>
                                    <td><img src="~/assets/images/coin/SOL.png" alt="" class="img-fluid avatar mx-1">SOL/USDT</td>
                                    <td><span class="color-price-down">Sell</span></td>
                                    <td>160.33</td>
                                    <td>0.75</td>
                                    <td>0.12024750 USDT</td>
                                    <td>120.24750000 USDT</td>
                                </tr>
                                <tr>
                                    <td>09-18 08:52:04</td>
                                    <td><img src="~/assets/images/coin/ETH.png" alt="" class="img-fluid avatar mx-1">ETH/USDT</td>
                                    <td><span class="color-price-up">Buy</span></td>
                                    <td>3,439.20</td>
                                    <td>0.0111</td>
                                    <td>0.00001110 ETH</td>
                                    <td>38.17512000 USDT</td>
                                </tr>
                                <tr>
                                    <td>09-17 08:34:14</td>
                                    <td><img src="~/assets/images/coin/SOL.png" alt="" class="img-fluid avatar mx-1">SOL/USDT</td>
                                    <td><span class="color-price-up">Buy</span></td>
                                    <td>147.04</td>
                                    <td>0.76</td>
                                    <td>0.00076000 SOL</td>
                                    <td>111.75040000 USDT</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>*@<!-- Row End -->

        </div>
    </div>

    <!-- Modal Custom Settings-->
    <div class="modal fade right" id="Settingmodal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Custome Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body custom_setting">
                    <!-- Settings: Color -->
                    <div class="setting-theme pb-3">
                        <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-color-bucket fs-4 me-2 text-primary"></i>Dashboard Color Settings</h6>
                        <ul class="list-unstyled row row-cols-3 g-2 choose-skin mb-2 mt-2">
                            <li data-theme="indigo"><div class="indigo"></div></li>
                            <li data-theme="tradewind"><div class="tradewind"></div></li>
                            <li data-theme="monalisa"><div class="monalisa"></div></li>
                            <li data-theme="blue"><div class="blue"></div></li>
                            <li data-theme="cyan"><div class="cyan"></div></li>
                            <li data-theme="green"><div class="green"></div></li>
                            <li data-theme="orange" class="active"><div class="orange"></div></li>
                            <li data-theme="blush"><div class="blush"></div></li>
                            <li data-theme="red"><div class="red"></div></li>
                        </ul>
                    </div>
                    <!-- Settings: Template dynamics -->
                    <div class="dynamic-block py-3">
                        <ul class="list-unstyled choose-skin mb-2 mt-1">
                            <li data-theme="dynamic"><div class="dynamic"><i class="icofont-paint me-2"></i> Click to Dyanmic Setting</div></li>
                        </ul>
                        <div class="dt-setting">
                            <ul class="list-group list-unstyled mt-1">
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label>Primary Color</label>
                                    <button id="primaryColorPicker" class="btn bg-primary avatar xs border-0 rounded-0"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label>Secondary Color</label>
                                    <button id="secondaryColorPicker" class="btn bg-secondary avatar xs border-0 rounded-0"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label class="text-muted">Chart Color 1</label>
                                    <button id="chartColorPicker1" class="btn chart-color1 avatar xs border-0 rounded-0"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label class="text-muted">Chart Color 2</label>
                                    <button id="chartColorPicker2" class="btn chart-color2 avatar xs border-0 rounded-0"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label class="text-muted">Chart Color 3</label>
                                    <button id="chartColorPicker3" class="btn chart-color3 avatar xs border-0 rounded-0"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label class="text-muted">Chart Color 4</label>
                                    <button id="chartColorPicker4" class="btn chart-color4 avatar xs border-0 rounded-0"></button>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center py-1 px-2">
                                    <label class="text-muted">Chart Color 5</label>
                                    <button id="chartColorPicker5" class="btn chart-color5 avatar xs border-0 rounded-0"></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Settings: Font -->
                    <div class="setting-font py-3">
                        <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-font fs-4 me-2 text-primary"></i> Font Settings</h6>
                        <ul class="list-group font_setting mt-1">
                            <li class="list-group-item py-1 px-2">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="radio" name="font" id="font-poppins" value="font-poppins">
                                    <label class="form-check-label" for="font-poppins">
                                        Poppins Google Font
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item py-1 px-2">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="radio" name="font" id="font-opensans" value="font-opensans">
                                    <label class="form-check-label" for="font-opensans">
                                        Open Sans Google Font
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item py-1 px-2">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="radio" name="font" id="font-montserrat" value="font-montserrat">
                                    <label class="form-check-label" for="font-montserrat">
                                        Montserrat Google Font
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item py-1 px-2">
                                <div class="form-check mb-0">
                                    <input class="form-check-input" type="radio" name="font" id="font-Plex" value="font-Plex" checked="">
                                    <label class="form-check-label" for="font-Plex">
                                        Plex Google Font
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Settings: Light/dark -->
                    <div class="setting-mode py-3">
                        <h6 class="card-title mb-2 fs-6 d-flex align-items-center"><i class="icofont-layout fs-4 me-2 text-primary"></i>Contrast Layout</h6>
                        <ul class="list-group list-unstyled mb-0 mt-1">
                            <li class="list-group-item d-flex align-items-center py-1 px-2">
                                <div class="form-check form-switch theme-switch mb-0">
                                    <input class="form-check-input" type="checkbox" id="theme-switch">
                                    <label class="form-check-label" for="theme-switch">Enable Dark Mode!</label>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center py-1 px-2">
                                <div class="form-check form-switch theme-high-contrast mb-0">
                                    <input class="form-check-input" type="checkbox" id="theme-high-contrast">
                                    <label class="form-check-label" for="theme-high-contrast">Enable High Contrast</label>
                                </div>
                            </li>
                            <li class="list-group-item d-flex align-items-center py-1 px-2">
                                <div class="form-check form-switch theme-rtl mb-0">
                                    <input class="form-check-input" type="checkbox" id="theme-rtl">
                                    <label class="form-check-label" for="theme-rtl">Enable RTL Mode!</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-white border lift" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary lift">Save Changes</button>
                </div>*@
            </div>
        </div>
    </div>

</div>
<script defer src="~/Scripts/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
           async function fetchAndRenderChart() {
           try {
               // Fetch data from the API
               let response = await fetch("/dashboard/getdataforpie");
               let result = await response.json();

               let labels, values, chartColors;

               if (!result.Data || Object.keys(result.Data).length === 0) {
                   labels = ["Start Trading"];
                   values = [1];  // This can be any value since it's the only data point
                   chartColors = [""];  // Red color
               } else {
                   // Generate a random color for each stock symbol
                   labels = Object.keys(result.Data);
                   values = Object.values(result.Data);
                   chartColors = labels.map(() => {
                       const r = Math.floor(Math.random() * 256);
                       const g = Math.floor(Math.random() * 256);
                       const b = Math.floor(Math.random() * 256);
                       return `rgb(${r},${g},${b})`;
                   });
               }

               // Data structure for Chart.js
               let chartData = {
                   labels: labels,
                   datasets: [{
                       data: values,
                       backgroundColor: chartColors
                   }]
               };

               // Render the doughnut chart (changed 'type' to 'doughnut')
               new Chart(document.getElementById('apex-simple-donut'), {
                   type: 'doughnut',
                   data: chartData,
                   options: {
                       plugins: {
                           tooltip: {
                               callbacks: {
                                   label: function (context) {
                                       let label = context.label;
                                       let value = context.parsed;
                                       return `${label}: ${value.toFixed(2)}$`;
                                   }
                               }
                           }
                       }
                   }
               });

           } catch (error) {
               console.error('Error fetching or processing data:', error);
           }
       }

       fetchAndRenderChart();
</script>